<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-myapp-setting"
    version="0.0.1">

    <name>My App Setting</name>
    <description></description>
    <author></author>
    <license>MIT</license>
    <keywords>ecosystem:cordova</keywords>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="MyAppSetting" >
                <param name="android-package" value="cordova.plugins.MyAppSetting"/>
            </feature>
        </config-file>

        <js-module src="myappsetting.js" name="Diagnostic">
            <clobbers target="cordova.plugins.MyAppSetting" />
        </js-module>
        <source-file src="MyAppSetting.java" target-dir="src/cordova/plugins" />
    </platform>
</plugin>